/* ヘッダー */
.header_menu{
  display: flex;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
}

.header_menu{
  background-color:mediumturquoise;
  padding: 10px;
  color:white;
}

.header_menu_title{
  color:white;
}

.nav-link listNew{
  color:white;
}

.nav-link{
  color:white;
}

/* リスト */
.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background:white;
  overflow-x: scroll;
}
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
  }
    .list {
      position: relative;
      background: #e2e4e6;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
    }
      header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .list_header{
       margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .card {
        margin-bottom: 10px;
        padding: 10px;
       
      color:white;
      
            }
     .card_title{
      background-color: white;
     }
       
     

     .stopwatch{
      margin-left:20px ;
      margin-top:50px ;
      width: 3000px;
     /* background:yellowgreen; */
     text-align: center;
     display: flex;
    }


    .day_pic{ 
      height: 300px;
      width: 300px;

     }

     .date{
       margin-left: 100px ;
     }
   
     .top_pic{

       height: 300px;
       width: 300px;

     }

     .memo{
       margin-top:100px ;
     }
     
    .memos {
      margin-left:80px ;
     }
     
    
     .done {
      text-decoration: line-through;
     }

     ul{
      width: max-content;
    }
    li{
      display: flex;
      justify-content: space-between;
    }

    .message-image{
     height:200px ;
     width: 200px;
    }
    
    .date{
      /* background-color:rgb(223, 234, 240);
      height: 100px; */
      
      border: 1px solid; 
      width: 200px;
    } 


    .memos{
      /* background-color:rgb(223, 234, 240);
      height: 100px; */
      
      border: 1px solid; 
      width: 500px;
    } 
    
    h5 {
      padding: 1rem 2rem;
      border-left: 6px double #000;
      background: whitesmoke;
    }
    .time{
      font-size: 50px;
      color: teal;
    }
    