.header_menu{
  display: flex;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
}

.header_menu{
  background: #026aa7;
  padding: 10px;
  color:white;
}

.header_menu_title{
  color:white;
}

.nav-link listNew{
  color:white;
}

.nav-link{
  color:white;
}