
  <!DOCTYPE html>
<html>
  <head>
 
<div>

    <script language="javascript" type="text/javascript">
      var roulette;
      const spotList = ['名前は？', '好きな人は', '貯金は','給料は',' 洗濯機'];
function start() {
  roulette = setInterval(function() {
    var idx = Math.floor( Math.random() * spotList.length );
    document.getElementById("roulette").innerHTML = spotList[idx];
  }, 100);
}
 
      // ルーレットを停止
      function stop() {
        if(roulette) {
          clearInterval(roulette);
        }
      }
    </script>
   <header>
      <div class="heading"> 
       <h1 class="title">NETA</h1>
      </div>

      <div class="navbar">
       <ul class="nav-lists">
          <li>サロンガイド</li>
          <li>メニュー</li>
          <li>スタッフ一覧</li>
          <li>ギャラリー</li>
          <li>アクセス</li>
          <li>ブログ</li>
        </ul>
      </div>
    </header>

<%#   
    <div class="outline">
      <div class="roulette" id="roulette">何を話そうか</div>
      <br />
      <input type="button" value="スタート" id="start" onclick="start();"/>
      <input type="button" value="ストップ" id="stop" onclick="stop();"/>
    </div>
  </body>
</html> %>