
<!DOCTYPE html>
<html>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
<header>
    
     
<nav class="slidemenu">
  
  <!-- Item 1 -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
  <label for="slide-item-1"><p class="icon">♬</p><span>友達ver</span></label>
  
  <!-- Item 2 -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
  <label for="slide-item-2"><p class="icon">★</p><span>会社ver</span></label>
  
  <!-- Item 3 -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon">✈</p><span>家族.ver</span></label>
  
  <!-- Item 4 -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
  <label for="slide-item-4"><p class="icon">✎</p><span>イベント.ver</span></label>
  
  <div class="clear"></div>
  
  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>
  
</nav>
     
 </header>

 <head>
    <script language="javascript" type="text/javascript">
  
    // ⭐️話テーマ
    var roulette;
    const List1 = ['名前は？', '好きな人は', '貯金は','給料は',' 洗濯機'];
    // ルーレットを開始
    function start() {
    roulette = setInterval(function() {
    document.getElementById("start").disabled = true;

    var idx = List1[Math.floor( Math.random() * List1.length )];
    // ルーレット
    document.getElementById("roulette").innerHTML = idx;
    }, 100);
    }

    // ルーレットを停止
    function stop() {
    document.getElementById("start").disabled = false;
    if(roulette) {
    clearInterval(roulette);
    }
    }


    // ⭐️誰が話すか

    //参加者一覧
      let num_1 = [];
    window.onload = function() {
    const addNameButton = document.getElementById('add-button')
    addNameButton.addEventListener('click', () => {
    const input = document.getElementById('add-name');
    const li =document.createElement('li');
    li.innerText = input.value;
    const ul =document.querySelector('ul');
    ul.appendChild(li);
    let name = input.value
     num_1.push(name)

    });
    }
    
     
      function talker2() {
      talker_roulette = setInterval(function() {
       document.getElementById("talker2").disabled = true;
      var idx = Math.floor( Math.random() * num_1.length );
      document.getElementById("talker_roulette").innerHTML = num_1[idx];
        }, 100);
        }
      ;
 
      function talker2_2() {
        document.getElementById("talker2").disabled = false;
        if(talker_roulette) {
          clearInterval(talker_roulette);
        }
      }   


  </script>
 
 
 </head>
 
  
 <body>
  <div class="upper-content">
      
    <!-- オンライン飲み会を表示する -->
      <h2 class="heading-name">オンライン飲み会</h2>

  
     <div class="outline">
        <div class="roulette" id="roulette">何を話そうか</div>
        <br />
        <input type="button" value="スタート" id="start" onclick="start();"/>
        <input type="button" value="ストップ" id="stop" onclick="stop();"/>
      </div>  
 
    <div class="kakeru">✖️</div>

    <div class="outline">
          <div class="roulette" id="talker_roulette">誰が話そうか</div>
          <br />
          <input type="button" value="スタート" id="talker2"     onclick="talker2();"/>
          <input type="button" value="ストップ" id="talker2_2"   onclick="talker2_2();"/>
          <div>参加者一覧</div>
          <ul></ul>
          <input type="text" id="add-name" size="50"  placeholder="" ><button id="add-button">add</button>
             
    </div> 

 </body>
