<div class=" top">
<a href="/" class="btn-text-3d">TOP画面に戻る</a>
</div>

<nav class="slidemenu">


  <!-- Item 1 -->
  <input  type="radio" name="slideItem" onclick="location.href='/themes' "id="slide-item-1" class="slide-toggle"checked/>
  <label for="slide-item-1"><p class="icon">♬</p><span>友達ver</span></label>
  
  <!-- Item 2 -->
  <input  type="radio" name="slideItem"  onclick="location.href='/ofices' "id="slide-item-2" class="slide-toggle"/>
  <label for="slide-item-2"><p class="icon">★</p><span>会社ver</span></label>
  
  <!-- Item 3 -->
  <input type="radio" name="slideItem" onclick="location.href='/familys' "id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon">✈</p><span>家族.ver</span></label>
  
  <!-- Item 4 -->
  <input type="radio" name="slideItem" onclick="location.href='/ivents' "id="slide-item-4" class="slide-toggle"/>
  <label for="slide-item-4"><p class="icon">✎</p><span>イベント.ver</span></label>


  <div class="clear"></div>
  
  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>
  
</nav>
     

<body>
  <div class="upper-content">
              
            <div class="taker_boxes">

   
            <div>
            <%= image_tag "1531652689.png", class:'themes_pic'%>
       
          </div>
            <div class="roulette" id="roulette">何を話そうか</div>
                <br/>
                <input type="button" value="スタート" id="start" >
                <input type="button" value="ストップ" id="stop" >
            
        
            <div class="kakeru">✖️</div>
            

           <div class="taker_boxes">
              <div class="roulette" id="talker_roulette">誰が話そうか </div>
              <br/>
              <input type="button" value="スタート" id="talker1"     >
              <input type="button" value="ストップ" id="talker1_2"   >
              
               <p>参加者一覧</p>
                
             <div class="add">
                <ul></ul>
             </div>
              
               <div> <input type="text" id="add-name" size="50"  placeholder="" ><button id="add-button">add</button> </div> 
         　 </div>
        
   </div> 
        
            

</body>


