
  <body>
    <header class="header">
    
        <h1 class="grid-6"><a href="/">PicTweet</a></h1>
        <div class="user_nav grid-6">
   
        </div>
      </div>
    </header>
  <div class='select-reason-contents'>
    <h2 class='title'>
      このサイトができること
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
      <div class=topic_game>
      <a href=/themes class="btn btn-border-shadow btn-border-shadow--color">使ってみる</a>
      </div>
       
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>トークテーマ</span>
          を決めてくれる
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class='list'>
      <div class=topic_game>
      <a href=/top class="btn btn-border-shadow btn-border-shadow--color">使ってみる</a>
      </div>
       
        
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>TO　do&タイムスケジュール</span>
          で使いやすい
        </h3>
      
  </div>
 
<%= render "shared/footer" %>