
<body>
    <header class="header">
    <div>
    <h1 class="#">PicTweet</h1>
    </div>
   <div>
       <% if user_signed_in? %>

            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    
        <% else %>

            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>

        <% end %>
    </div>
    </header>
<div class=top-page>
  
  <%# ヘッド部分 %>
  <div class=head_pic>
   <div class="top-text">画面越しの気まずい会話に</br>さようなら。
   </div>
    <div>
    <img src="assets/iphone.png" class="top_pic">
    </div>
  </div>

  <%# シーン別 %>
<div class="issu">
  
  <div class=issu_1>
   <div class=issu_1_title>テンポ良く会話ができないのは</br>かなりストレス</div>
  <p>
  <img src="assets/1531652765.png" alt="画像" style="float:left;" class="issu_1_pic">
  <p class="pic1_text">一度に一人しかしゃべることができないから</br>ついつい沈黙がおきがちなんです・・・誰か話をリードしてくれるファシリテーターみたいな人がいたらいいのにな・・・
  </p>
  </div>
  </div>

</div>
 

