.top-text{
  font-size:80px;
}
.top_pic{
  height: 300px;
  width: 300px;
  
}

.head_pic{
  text-align: center;
  // margin : 0 auto
}

.issu_1_title{
  background-color:white;
  width: 300px;
  margin-left:100px ;
  font-weight: 900;
  
}

.issu_1_title_text{
  margin-top: 20px;
  background-color:white;
  width: 500px;
  margin-left:100px ;
}

.issu_1_pic{
  height: 300px;
  width: 300px;
}
.pic1_text{
  width: 1000px;
  margin-top:100px ;

}