
<!DOCTYPE html>
<html>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
<header>
    
     
<nav class="slidemenu">
  
  <!-- Item 1 -->
  <input  type="radio" name="slideItem" onclick="location.href='/themes' "id="slide-item-1" class="slide-toggle"/>
  <label for="slide-item-1"><p class="icon">♬</p><span>友達ver</span></label>
  
  <!-- Item 2 -->
  <input  type="radio" name="slideItem"  onclick="location.href='/ofices' "id="slide-item-2" class="slide-toggle"/>
  <label for="slide-item-2"><p class="icon">★</p><span>会社ver</span></label>
  
  <!-- Item 3 -->
  <input type="radio" name="slideItem" onclick="location.href='/familys' "id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon">✈</p><span>家族.ver</span></label>
  
  <!-- Item 4 -->
  <input type="radio" name="slideItem" onclick="location.href='/ivents' "id="slide-item-4" class="slide-toggle"checked/>
  <label for="slide-item-4"><p class="icon">✎</p><span>イベント.ver</span></label>
  
  <div class="clear"></div>
  
  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>
  
</nav>
     
 </header>

 <
  
 <body>
  <div class="upper-content">

  
     <div class="outline">
  
  <div> 
   <img src="assets/1522744067-1.png" alt="画像" style="float:bottom;" class="themes_pic">
   </div>
        <div class="roulette" id="roulette">何を話そうか</div>
        <br />
        <input type="button" value="スタート" id="start" onclick="start();"/>
        <input type="button" value="ストップ" id="stop" onclick="stop();"/>
      </div>  
 
    <div class="kakeru">✖️</div>

    <div class="outline">
          <div class="roulette" id="talker_roulette">誰が話そうか</div>
          <br />
          <input type="button" value="スタート" id="talker1"     >
          <input type="button" value="ストップ" id="talker1_2"   >
          <div>参加者一覧</div>
          <ul></ul>
          <input type="text" id="add-name" size="50"  placeholder="" ><button id="add-button">add</button>
             
    </div>

 </body>
